# Домашняя работа №16

## Задача 1
Изучить представленный набор данных на основе описания его столбцов и выбрать 8 столбцов для дальнейшего изучения (среди них должны быть как числовые, так и категориальные). Провести расчет базовых метрик для них, кратко описать результаты.

In [1]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv('horse_data.csv', header=None, na_values='?')
df.head()

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2

In [13]:
df1 = df.iloc[:, [0, 1, 11, 12, 15, 16, 17, 22]]
df1.head()

    0   1    11   12   15   16   17   22
0  2.0   1  4.0  4.0  NaN  3.0  5.0  2.0
1  1.0   1  4.0  2.0  NaN  4.0  2.0  3.0
2  2.0   1  3.0  1.0  NaN  1.0  1.0  1.0
3  1.0   9  4.0  4.0  5.0  3.0  NaN  2.0
4  2.0   1  NaN  NaN  NaN  NaN  NaN  2.0

In [14]:
df1.rename(columns = {0:'Surgery', 1:'Age', 11:'perestalsis', 12:'abdominal_distention', 15:'nasogastric_reflux_PH',
                     16:'rectal_examination_feces', 17:'abdomen', 22:'outcome'},  inplace = True)
df1.head()

D:\Anaconda3\lib\site-packages\pandas\core\frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,Surgery,Age,perestalsis,abdominal_distention,nasogastric_reflux_PH,rectal_examination_feces,abdomen,outcome
0,2.0,1,4.0,4.0,NaN,3.0,5.0,2.0
1,1.0,1,4.0,2.0,NaN,4.0,2.0,3.0
2,2.0,1,3.0,1.0,NaN,1.0,1.0,1.0
3,1.0,9,4.0,4.0,5.0,3.0,NaN,2.0
4,2.0,1,NaN,NaN,NaN,NaN,NaN,2.0

## Расчет базовых метрик

In [16]:
df1.describe()

,Surgery,Age,perestalsis,abdominal_distention,nasogastric_reflux_PH,rectal_examination_feces,abdomen,outcome
count,299.000000,300.000000,256.000000,244.000000,53.000000,198.000000,182.000000,299.000000
mean,1.397993,1.640000,2.917969,2.266393,4.707547,2.757576,3.692308,1.551839
std,0.490305,2.173972,0.976744,1.065131,1.982311,1.251119,1.491725,0.737187
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,3.000000,1.000000,3.000000,1.000000,2.000000,1.000000
50%,1.000000,1.000000,3.000000,2.000000,5.000000,3.000000,4.000000,1.000000
75%,2.000000,1.000000,4.000000,3.000000,6.500000,4.000000,5.000000,2.000000
max,2.000000,9.000000,4.000000,4.000000,7.500000,4.000000,5.000000,3.000000

На что можем обратить внимание:
1. столбец Surgery - большинству лошадей делали операцию.
2. столбец Age - в среднем странное значение max, вероятно была ошибка при вводе данных - вместо 2 вводили 9, данные пока не ясны
3. столбец perestalsis - есть пропущенные данные, но не в критичном объеме. У большинства лошадей была активность в перестальтике живота.
4. столбец abdominal_distention - есть пропущенные данные, но не в критичном объеме. У большинства лошадей было вздутие живота.
5. столбец nasogastric_reflux_PH - бОльшая часть данных пропущена, есть риск получения некорректных результатов анализа данных. Но на основании имеющихся данных можем утверждать что у большинства были повышенные значения PH.
6. столбцы rectal_examination_feces - у большинства лошадей был снижен объем кала. Треть данных пропущена.
7. abdomen - треть данных пропущена. У большинства лошадей была растянута тонкая кишка, что указывает на хирургическое поражение.
8. outcome - в результате примерно одинаковое количество лошадей выжили, умерли или были усыплены.

## Задача 2
В выбранных числовых столбцах найти выбросы, выдвинуть гипотезы об их причинах и проинтерпретировать результаты. Принять и обосновать решение о дальнейшей работе с ними.

In [30]:
#1. Surgery
q1 = df1.Surgery.quantile(0.25)
q3 = df1.Surgery.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df1[df1.Surgery.between(lower_bound, upper_bound, inclusive=True)].sort_values('Age')
remove_outliers.head() #выбросов нет

,Surgery,Age,perestalsis,abdominal_distention,nasogastric_reflux_PH,rectal_examination_feces,abdomen,outcome
0,2.0,1,4.0,4.0,NaN,3.0,5.0,2.0
197,2.0,1,4.0,2.0,NaN,4.0,5.0,2.0
196,2.0,1,2.0,1.0,NaN,2.0,3.0,3.0
195,2.0,1,1.0,2.0,NaN,1.0,NaN,1.0
194,2.0,1,2.0,1.0,NaN,4.0,1.0,1.0

In [121]:
# 2. Age
q1 = df1.Age.quantile(0.25)
q3 = df1.Age.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df1[df1.Age.between(lower_bound, upper_bound, inclusive=True)].sort_values('Surgery')
remove_outliers.head()

,Surgery,Age,perestalsis,abdominal_distention,nasogastric_reflux_PH,rectal_examination_feces,abdomen,outcome,freq
151,1.0,1,4.0,2.0,4.0,4.0,4.0,2.0,3.0
169,1.0,1,1.0,4.0,NaN,NaN,5.0,3.0,NaN
172,1.0,1,4.0,3.0,2.0,NaN,NaN,1.0,9.0
173,1.0,1,4.0,3.0,NaN,4.0,4.0,2.0,NaN
175,1.0,1,1.0,2.0,NaN,NaN,NaN,1.0,NaN

In [59]:
df1['Age'].unique()

array([1, 2], dtype=int64)

In [36]:
print(remove_outliers.Age.mean()) #выбросами являются имеющиеся значения 9, которые вероятно ошибочно были введены. Решение: заменить на 2

1.0

In [61]:
# 3. perestalsis
q1 = df1.perestalsis.quantile(0.25)
q3 = df1.perestalsis.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df1[df1.perestalsis.between(lower_bound, upper_bound, inclusive=True)].sort_values('Age')
remove_outliers.head()
len(remove_outliers)

217

In [40]:
print(remove_outliers.perestalsis.mean())
print(remove_outliers.perestalsis.median())
#выбросы есть, но они практически не влияют на результаты анализа. 
#Решение: оставить без изменения. С большой вероятностью это реальные наблюдения.

3.262672811059908
3.0

In [47]:
# 4. abdominal_distention
q1 = df1.abdominal_distention.quantile(0.25)
q3 = df1.abdominal_distention.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df1[df1.abdominal_distention.between(lower_bound, upper_bound, inclusive=True)].sort_values('Age')
remove_outliers.head()
len(remove_outliers)
# выбросов нет

244

In [46]:
# 5. nasogastric_reflux_PH
q1 = df1.nasogastric_reflux_PH.quantile(0.25)
q3 = df1.nasogastric_reflux_PH.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df1[df1.nasogastric_reflux_PH.between(lower_bound, upper_bound, inclusive=True)].sort_values('Age')
remove_outliers.head()
len(remove_outliers)
# выбросов нет

53

In [49]:
# 6. rectal_examination_feces
q1 = df1.rectal_examination_feces.quantile(0.25)
q3 = df1.rectal_examination_feces.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df1[df1.rectal_examination_feces.between(lower_bound, upper_bound, inclusive=True)].sort_values('Age')
remove_outliers.head()
len(remove_outliers)
# выбросов нет

198

In [51]:
# 7. abdomen
q1 = df1.abdomen.quantile(0.25)
q3 = df1.abdomen.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df1[df1.abdomen.between(lower_bound, upper_bound, inclusive=True)].sort_values('Age')
remove_outliers.head()
len(remove_outliers)
# выбросов нет

182

In [53]:
# 8. outcome
q1 = df1.outcome.quantile(0.25)
q3 = df1.outcome.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df1[df1.outcome.between(lower_bound, upper_bound, inclusive=True)].sort_values('Age')
remove_outliers.head()
len(remove_outliers)
# выбросов нет

299

In [58]:
#решаем проблему ошибочного ввода в столбце Age
df1.loc[df1['Age'] == 9, 'Age'] = 2
df1.head()

D:\Anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,Surgery,Age,perestalsis,abdominal_distention,nasogastric_reflux_PH,rectal_examination_feces,abdomen,outcome
0,2.0,1,4.0,4.0,NaN,3.0,5.0,2.0
1,1.0,1,4.0,2.0,NaN,4.0,2.0,3.0
2,2.0,1,3.0,1.0,NaN,1.0,1.0,1.0
3,1.0,2,4.0,4.0,5.0,3.0,NaN,2.0
4,2.0,1,NaN,NaN,NaN,NaN,NaN,2.0

## Задача 3
Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе работы с пропусками по каждому столбцу, сформировать датафрейм, в котором пропуски будут отсутствовать.

In [80]:
#количество пропусков для всех выбранных столбцов
df1.isna().sum()

Surgery                       1
Age                           0
perestalsis                  44
abdominal_distention         56
nasogastric_reflux_PH       247
rectal_examination_feces    102
abdomen                     118
outcome                       1
dtype: int64

Решение по пропускам для выбранных столбцов
1. Surgery - заменим на наиболее часто встречающееся значение - 1.
2. perestalsis - пропусков не много, явной зависимости от других значений нет, заменим случайным образом исходя из имеющегося набора значений от 1 до 4.
3. abdominal_distention - пропусков не много, явной зависимости от других значений нет, распределение значений примерно равномерное (mean примерно 2, std примерно 1), заменим случайным образом исходя из имеющегося набора значений от 1 до 4.
4. nasogastric_reflux_PH - много пропусков, зависимости от других значений явно нет, данные специфические и замена их на какие-то смоделированные может исказить результаты. Заменим пропущенные данные на no_info.
5. rectal_examination_feces - пропущено 30% данных, зависимости в разрезе других данных нет, смоделированные данные могут исказить результаты. Заменим пропущенные данные на no_info.    
6. abdomen - пропущено 30% данных, зависимости в разрезе других данных нет, смоделированные данные могут исказить результаты. Заменим пропущенные данные на no_info.
7. outcome - заменим на наиболее часто встречающееся значение - 1.

In [110]:
#формируем датафрейм без пропусков
# 1. Surgery
df1['Surgery'].fillna(1, inplace=True)

D:\Anaconda3\lib\site-packages\pandas\core\generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [117]:
# 2. perestalsis
import random
df1['perestalsis'].fillna((random.randint(1, 4)), inplace=True)

D:\Anaconda3\lib\site-packages\pandas\core\generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [119]:
# 3. abdominal_distention
df1['abdominal_distention'].fillna((random.randint(1, 4)), inplace=True)

D:\Anaconda3\lib\site-packages\pandas\core\generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [124]:
# 4. nasogastric_reflux_PH
df1['nasogastric_reflux_PH'].fillna('no_info', inplace=True)

D:\Anaconda3\lib\site-packages\pandas\core\generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [126]:
# 5. rectal_examination_feces
df1['rectal_examination_feces'].fillna('no_info', inplace=True)

D:\Anaconda3\lib\site-packages\pandas\core\generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [129]:
# 6. abdomen
df1['abdomen'].fillna('no_info', inplace=True)

D:\Anaconda3\lib\site-packages\pandas\core\generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [131]:
# 7. outcome
df1['outcome'].fillna(1, inplace=True)

D:\Anaconda3\lib\site-packages\pandas\core\generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [134]:
df1.head()

,Surgery,Age,perestalsis,abdominal_distention,nasogastric_reflux_PH,rectal_examination_feces,abdomen,outcome
0,2.0,1,4.0,4.0,no_info,3,5,2.0
1,1.0,1,4.0,2.0,no_info,4,2,3.0
2,2.0,1,3.0,1.0,no_info,1,1,1.0
3,1.0,2,4.0,4.0,5,3,no_info,2.0
4,2.0,1,1.0,2.0,no_info,no_info,no_info,2.0